.base_sent .col-md-3, .base_sent .col-md-9{
    padding:0;
}
.base_receive .col-md-3, .base_receive .col-md-9{
    padding:0;
}
.panel-chat{
    margin-bottom: 0px;
}
.chat-window{
    position:fixed;
    float:right;
    /*margin-left:10px;*/
    right: 0;
    width: 300px;
    z-index: 10000;
    bottom:0;
}

.chat-window > div > .panel{
    /*border-radius: 5px 5px 0 0;*/
}
.icon_minim{
    /*padding:2px 10px;*/
    color: #3c763d;
}
.msg_container_base{
  background: #f5f8fa;
  margin: 0px;
  padding: 0px;
  max-height:350px;
  overflow-x:hidden;
}
.msg_container_base::-webkit-scrollbar { 
    display: none; 
}
.top-bar {
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    /*display: block;*/
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

input.search {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.user-chat-box {
  cursor: pointer;
}

.media-name {
  padding-top: 10px;
}

.media-skill {
  color: #ccc;
}

@media only screen and (max-width : 540px) 
  {
      .chat-sidebar
      {
          display: none !important;
      }
      
      .chat-popup
      {
          display: none !important;
      }
  }
  
  .chat-sidebar
  {
      width: 270px;
      position: fixed;
      height: 100%;
      right: 0px;
      top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid rgba(29, 49, 91, .3);
  }
  
  .sidebar-name 
  {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 4px;
      font-size: 12px;
  }
  
  .sidebar-name span
  {
      padding-left: 5px;
  }
  
  .sidebar-name a
  {
      display: block;
      height: 100%;
      text-decoration: none;
      color: inherit;
  }
  
  .sidebar-name:hover
  {
      background-color:#e1e2e5;
  }
  
  .sidebar-name img
  {
      width: 32px;
      height: 32px;
      vertical-align:middle;
  }
  
  .popup-box
  {
      display: none;
      position: fixed;
      bottom: 0px;
      right: 270px;
      height: 380px;
      background-color: #f5f8fa;
      width: 270px;
      border: 1px solid #4cae4c;
      border-bottom: none;
      z-index: 10001;
      font-size: 11px;
  }
  
  .popup-box .popup-head
  {
      background-color: #5cb85c;
      padding: 5px;
      color: white;
      font-weight: bold;
      font-size: 14px;
      clear: both;
  }
  
  .popup-box .popup-head .popup-head-left
  {
      float: left;
  }
  
  .popup-box .popup-head .popup-head-right
  {
      float: right;
      opacity: 0.5;
  }
  
.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}
  
.popup-box .popup-messages
{
    height: 100%;
    /*overflow-y: scroll;*/
}

.popup-box .popup-messages .panel-footer {
  position: absolute;
  bottom:0;
  width: 100%;
}